.page{
    border-radius: 30px;
    margin-top: 2%;
    height: auto;
    background-color: rgb(68, 134, 204);
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.details{
    align-items: stretch;
    width: 207px;
    padding: 1%;
    flex: 0 0 20%;
    overflow-x: scroll;
    overflow-y: hidden;

  
}
.header{
    background-color: rgb(68, 134, 204);
    display: flex;
    justify-content: center;
}
